.col img {
    width: 100%;
}
  
.col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.col .info ul {
    list-style: none;
}
  
.col .info ul li {
    margin-bottom: 20px;
}
  
.col .info ul li i {
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}