.col {
    width: 50%;
    padding: 0 20px;
}

h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

@media screen and (max-width:700px) {
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
}